* {

    padding:                0;

    margin:                 0;

    text-decoration:        none;

    background:             inherit;

    -webkit-box-sizing:     border-box;

    -moz-box-sizing:        border-box;

    box-sizing:             border-box;

    outline:                none;

    font-size:              10px;

}

body {

    background-color:       #272822;

    color:                  #fff;

    min-height:             100%;

    width:                  100%;

}

pre {

    margin: 0;

    padding: 0;

    border:                 0 !important;

    background-color:       #272822;

    font-size:              7px;

    color:                  #fff;

    text-decoration: none;

}

main {

    text-align: center;

}

a, a:active, a:focus, a:hover, a:visited {

    text-decoration: none;

}

.pink {

    color:                  magenta;

    font-size:              inherit;

    animation:              pink-color 2s infinite;

    -webkit-animation:      pink-color 2s infinite;

}

@-webkit-keyframes pink-color {

    0%                      { color: magenta; }

    40%                     { color: deeppink; }

    80%                     { color: #ff78d4; }

    100%                    { color: #e8acff; }

}

@keyframes pink-color {

    0%                      { color: magenta; }

    40%                     { color: deeppink; }

    80%                     { color: #ff78d4; }

    100%                    { color: #e8acff; }

}

.blue {

    color:                  dodgerblue;

    font-size:              inherit;

    animation:              blue-color 2s infinite;

    -webkit-animation:      blue-color 2s infinite;

}

@-webkit-keyframes blue-color {

    0%                      { color: dodgerblue; }

    40%                     { color: #007eff}

    80%                     { color: #0a88ff; }

    100%                    { color: #18ccff; }

}

@keyframes blue-color {

    0%                      { color: dodgerblue; }

    40%                     { color: #007eff}

    80%                     { color: #0a88ff; }

    100%                    { color: #18ccff; }

}

.centered {

    position:               fixed;

    top:                    50%;

    left:                   50%;

    transform:              translate(-50%, -50%);

}

.description {

    padding-top:            10px;

    padding-bottom:         10px;

    font-size:              10px;

    display:                block;

    clear:                  both;

}

.copyright {

    font-size:              10px;

    display:                block;

    clear:                  both;

    text-align:             left;

}

.signups {

    display:                block;

    clear:                  both;

}

.message {

    padding-top:            10px;

    display:                block;

    clear:                  both;

}

.signups-description {

    display:                block;

    clear:                  both;

}

.clear {

    padding-top:            10px;

}
