/***********************************************************************************************************/
/*************************************          Privacy Block          *************************************/
#privacy-policy
{

    margin:                 0 auto;

    max-width:              500px;

    text-align:             justify;

}

form
{

    background:             transparent;

}
/***********************************************************************************************************/
/***********************************          End Privacy Block          ***********************************/