/***********************************************************************************************************/
/*************************************          Privacy Block          *************************************/
#privacy-policy
{

    margin:                 0 auto;

    max-width:              500px;

    text-align:             justify;

}

form
{

    background:             transparent;

}

.input-group .form-control
{

    width: auto;

}

.slider-handle
{

    background-image:       repeating-linear-gradient( 0deg, #f0f 50%, #00f 50% );

    background-image:       -o-linear-gradient( 0deg, #f0f 50%, #00f 50% );

    background-image:       -moz-linear-gradient( 0deg, #f0f 50%, #00f 50% );

    background-image:       -webkit-linear-gradient( 0deg, #f0f 50%, #00f 50% );

    background-image:       -ms-linear-gradient( 0deg, #f0f 50%, #00f 50% );

}
/***********************************************************************************************************/
/***********************************          End Privacy Block          ***********************************/