{% extends 'templates/app.twig' %}

{% block content %}

	<div class="row row-marginless">

	    <strong class="block">Home</strong>

	</div>

	<div class="row row-marginless">

		<div class="col-sm-4 padding-left-0 padding-right-0">

	        {% include 'templates/partials/sidenav.twig' %}

	    </div>

		{% include 'feed.twig' %}

	</div>

{% endblock %}