{% extends 'templates/app.twig' %}

{% block policy %}

<h4 class="block">Privacy Policy</h4>

<strong class="block">The information we collect</strong>
We collect the media you voluntarily share with us while using our services for the purpose of building
connections for you to persons who have identified shared similar media. Media here may refer to
photos, videos, profiles, lifestyles, descriptions, usernames, geo locations, interests, internal and
external associations, ethnicities, nationalities, religions, sexual orientations and connected services
or associated properties. Properties here, refers to specific meta-data represented above or associated
with that representation. We collect information from the devices used to access our services such as
hardware versions, device settings, operating systems, device locations,device identifiers, timezones,
mobile numbers and ip addresses. We collect information when you or connected services and users refer
to, navigate toward or away from our service such as an advertisement an inbound link to likely.cloud or
some third party service connection that correlates with our service.
<br /><br />

<strong class="block">How we store information</strong>
We use sessions and similar technologies to provide and support our services at the user level.
Internally, we refer to these technologies to save your properties on our own systems or on third-party
private systems.<br /><br />

<strong class="block">How we use information</strong>
One of the goals of likely.cloud is to aggregate your social media footprint, allowing you to
granularly understand online impressions of your persona, those you have connected with and the reverse.
We cultivate an understanding of properties shared using our services to
automatically indicate relevant connections to our users and to provide accurate tools related to the
purpose of manually allowing users to connect with one another.<br /><br />

<strong class="block">Your rights</strong>
You own all of the data you share with us and you control how it is shared with our other users.
You give us permission, subject to removal, a non-exclusive, transferable, sub-license, royalty-free,
worldwide license to use your properties for the purposes of understanding your data, sharing your data
with other users and helping users grow their connections accordingly. The permission you give to us for any
data you share ends when you request deletion of that data and we send receipt of its removal. Data is otherwise
expunged after a certain time period, based on internal settings. Data shared publicly using our services may be collected by
other entities. While using our services, your legal consent that is granted to likely.cloud that it may
use, store and share your data, connecting you and relational users by proximity or other
category of interest. Further legal consent on your part is that any data you have electively chosen to
share with us may be stored, searched, accessed or shared by other users who agreed to these terms, our
developers and third-party applications. These terms constitute a legal and binding agreement between the
account holder and likely.cloud until such time your account is terminated.

{% endblock %}