<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">

    <title><%= title %></title>

    <meta name="description" content="<%= description %>" />

    <meta name="keywords" content="<%= keywords %>" />

    <meta http-equiv="Access-Control-Allow-Origin" content="*" />

    <meta name="format-detection" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="css/layout.css">

</head>

<body>

<div class="row"></div>

<div class="row">Hello there ;) I see you are visiting from the following <%= location %>...</div>

</body>

</html>