<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">

    <title><%= title %></title>

    <meta name="description" content="<%= description %>" />

    <meta name="keywords" content="<%= keywords %>" />

    <meta http-equiv="Access-Control-Allow-Origin" content="*" />

    <meta name="format-detection" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, shrink-to-fit=no" />

    <meta property="fb:app_id" content="1991908197750442" />

    <meta property="og:url" content="http://likely.cloud" />

    <meta property="og:title" content="Realtime, instant connections" />

    <meta property="og:description" content="Next gen social metrics" />

    <meta property="og:image" content="http://likely.cloud/images/large-ad.png" />

    <meta property="og:image:type" content="image/png">

    <meta property="og:image:width" content="241">

    <meta property="og:image:height" content="118">

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="css/layout.css" />

    <link rel="stylesheet" href="css/privacy-policy.css" />

</head>

<body>



    <div class="row"></div>

    <div class="row">

        <div class="form_bg">

        <form id="privacy-policy" action="/policy">

            <h4 class="alert-heading">Privacy Policy</h4>

            <strong>The information we collect</strong><br />
            We collect the media you voluntarily share with us while using our services for the purpose of building
            connections for you to persons who have identified shared similar media. Media here may refer to
            photos, videos, profiles, lifestyles, descriptions, usernames, geo locations, interests, internal and
            external associations, ethnicities, nationalies, religions, sexual orientations and connected services
            or associated properties. Properties here, refers to specific meta-data represented above or associated
            with that representation. We collect information from the devices used to access our services such as
            hardware versions, device settings, operating systems, device locations,device identifiers, timezones,
            mobile numbers and ip addresses. We collect information when you or connected services and users refer
            to, navigate toward or away from our service such as an advertisement an inbound link to likely.cloud or
            some third party service connection that correlates with our service.
            <br /><br />

            <strong>How we store information</strong><br />
            We use cookies, sessions and similar technologies to provide and support our services at the user level.
            Internally, we refer to these technologies to save your properties on our own systems or on third-party
            private systems.<br /><br />

            <strong>How we use information</strong><br />
            One of the goals of likely.cloud is to aggregate your social media footprint, allowing you to
            granularly understand online impresions of your persona, those you have accepted into your
            bubbles and the reverse. Bubbles here, refers to collections of individuals or properties that are
            associated with individuals. We cultivate an understanding of properites shared using our services to
            automatically indicate relevant connections to our users and to provide accurate tools related to the
            purpose of manually allowing users to connect with one another.<br /><br />

            <strong>Your rights</strong><br />
            You own all of the properties you share with us and you control how it is shared with our other users.
            You give us permission, subject to removal, a non-exclusive, transferable, sub-license, royalty-free,
            worldwide license to use your properties for the purposes of understanding your data, sharing your data
            with other users and helping users grow their bubbles accordingly. The permission you give to us for any
            property you share ends when you delete that property. Properties are expunged after a certain time
            period, based on internal settings. Properties shared publicly using our services may be collected by
            other entities. While using our services, your legal consent that is granted to likely.cloud that it may
            use, store and share your properties, connecting you and relational users by proximity or other
            category of interest. Further legal constent on your part is that any data you have electively chosen to
            share with us may be stored, searched, accessed or shared by other users who agreed to these terms, our
            developers and third-party applications. These terms constitute a legal and binding agreement betwen the
            account holder and likely.cloud until such time your account is terminated.

            <div class="input-group float-right">

                <%- buttons %>

            </div>

        </form>

        </div>

    </div>

    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>

    <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!--
    @todo:  These below files commented out still need to be finished before they can be enabled

    <script type="text/javascript" src="js/example.js"></script>
    -->
</body>

</html>