* {

padding:                0;

margin:                 0;

text-decoration:        none;

background:             inherit;

-webkit-box-sizing:     border-box;

-moz-box-sizing:        border-box;

box-sizing:             border-box;

outline:                none;

font-size:              12px;

}

body {

padding:                5px;

background-color:       #000;

color:                  #fff;

width:                  100%;

height: 				100%;

}

html, body {

height:                 100%;

display:                flex;

flex-direction:         column;

}

body > * {

flex-shrink:            0;

}

/*
::-webkit-scrollbar {

width:                  1em;

background-color: 		#000;

}
 
::-webkit-scrollbar-track {

-webkit-box-shadow:     inset 0 0 6px rgba(0,0,0,0.3);

}
 
::-webkit-scrollbar-thumb {

-webkit-border-radius: 	10px;

border-radius: 			10px;

background: 			rgba(250, 41, 252, 1); 

-webkit-box-shadow: 	inset 0 0 6px rgba(0,0,0,0.5); 

}
*/
pre {

margin:                 0;

padding:                0;

border:                 0 !important;

font-size:              6px;

overflow-x:             hidden;

color:                  #fff;

}

h1 {

font-size:              14px;

}

.pink {

font-size: 				inherit;

color:                  magenta;

animation:              pink-color 2s infinite;

-webkit-animation:      pink-color 2s infinite;

}

@-webkit-keyframes pink-color {

0%                      { color: magenta; }

40%                     { color: deeppink; }

80%                     { color: #ff78d4; }

100%                    { color: #e8acff; }

}

@keyframes pink-color {

0%                      { color: magenta; }

40%                     { color: deeppink; }

80%                     { color: #ff78d4; }

100%                    { color: #e8acff; }

}

.blue {

font-size: 				inherit;

color:                  dodgerblue;

animation:              blue-color 2s infinite;

-webkit-animation:      blue-color 2s infinite;

}

@-webkit-keyframes blue-color {

0%                      { color: dodgerblue; }

40%                     { color: #007eff}

80%                     { color: #0a88ff; }

100%                    { color: #18ccff; }

}

@keyframes blue-color {

0%                      { color: dodgerblue; }

40%                     { color: #007eff}

80%                     { color: #0a88ff; }

100%                    { color: #18ccff; }

}


@keyframes content {

0%                      { transform: translateX(-100%); }

100%                    { transform: translateX(0); }

}


a {

color:                  #FFF;    

}

a:hover {

color:                  inherit;

}

a, a:active, a:focus, a:hover, a:visited {

text-decoration:        none;

}

.description-content {

padding-top:            10px;

padding-bottom:         10px;

display:                block;

clear:                  both;

}

.header {

position: relative;

margin-top: 26px;

}

.navigation-content {

min-height:          	40px;

flex-grow: 				0 !important;

}

.form-content {

}

.footer-content {

}

.footer-content .description {

text-align:             center;

}

.content {

background: 			#292b2c;

-webkit-box-shadow: 	-2px 2px 2px 0px rgba(31,16,31,1);

-moz-box-shadow: 		-2px 2px 2px 0px rgba(31,16,31,1);

box-shadow: 			-2px 2px 2px 0px rgba(31,16,31,1);




/*
transform: rotateX(180deg); 

transform-style: preserve-3d;
  transition-delay: 2s;
*/

}

.column-content:nth-child(1) {

border-right:           1px solid #232222;

}

.content-pane {

padding:                10px;

display:                inline-block;

border-radius:          0 .25rem .25rem .25rem;

background-color:       #232222;

}

.service-registry {


}

.service-app {

height: 				75px;

width: 					75px;

display: 				inline-block;

background-position: 	center;

text-align: 			center;

background-repeat: 		no-repeat;

background-size: 		32px 32px;

-webkit-box-shadow: 	-2px 2px 2px 0px rgba(31,16,31,1);

-moz-box-shadow: 		-2px 2px 2px 0px rgba(31,16,31,1);

box-shadow: 			-2px 2px 2px 0px rgba(31,16,31,1);

border-radius: 			12px;

}

.service-app.tumblr {

background-image: 		url('/images/social_media/tumblr-128.png');

}

.service-app.discord {

background-image: 		url('/images/social_media/discord-128.png');

}

.service-app.facebook {

background-image: 		url('/images/social_media/facebook-128.png');

}

.service-app.imgur {

background-image: 		url('/images/social_media/imgur-128.png');

}

.service-app.username {

background-image: 		url('/images/social_media/username-128.png');

}

.feed-item {

border-bottom:          1px solid #403839;

padding:                10px;

max-height:             300px;

}

.clear-row {

margin:                 0;

display:                flex;

flex-wrap:              wrap;

}

.container {

max-width:              1200px;

background-color:       #232222;

-webkit-box-shadow:     -2px 2px 2px 0px rgba(31,16,31,1);

-moz-box-shadow:        -2px 2px 2px 0px rgba(31,16,31,1);

box-shadow:             -2px 2px 2px 0px rgba(31,16,31,1);

flex-grow:              1;

overflow: 				hidden;

}

.column-content .column-content {

width:              	100%;

}

.user-list-toggle {

z-index:                1;

margin-top:             10px;

padding-right:          10px;

}

.checkbox label .toggle, .checkbox-inline .toggle {

margin-left: 			unset;

}


.toggle-handle {

background-color: 		white;

}

.toggle-off.btn {

background-color: 		grey;

}

.user-list {

    z-index: 			2;

    padding: 			5px;

    bottom: 			0;

    position: 			absolute;

    width: 				100%;
    
    left: 				0;

}
/*
.user-list::-webkit-scrollbar {

width:                  1em;

}
 
.user-list::-webkit-scrollbar-track {

-webkit-box-shadow:     inset 0 0 6px rgba(0,0,0,0.3);

}
 
.user-list::-webkit-scrollbar-thumb {

background-color:       #232222;

outline: 1px solid      #000;

}
*/
.user-buddy-detail {

display:                block;

text-align:             right;

}

.user-buddy-detail:hover {

background-color:       #fa29fc;

cursor: 				default;

}

.user-buddy-online, .user-buddy-away {

display:                inline-block;

vertical-align:         top;

white-space:            nowrap;

text-overflow:          ellipsis;

overflow:               hidden;

height:                 20px;

line-height:            20px;

max-width:              78px;

}

.user-buddy-online:hover, .user-buddy-away:hover {

color:                  #fff;

}

.user-buddy-online {



}

.user-buddy-away {

color:                  grey;

}

.user-online {

margin-top:             5px;

margin-left:            2px;

float:                  right;

width:                  10px;

height:                 10px;

background-color:       #07bd07;

border-radius:          50%;

content:                ".";

display:                inline-block;

}

.user-away {

margin-top:             5px;

margin-left:            2px;

float:                  right;

width:                  10px;

height:                 10px;

background-color:       orange;

border-radius:          50%;

content:                ".";

display:                inline-block;

}

.row {

margin: 				0;

padding:           		10px;

clear: 					both;

width: 					100%;

}

.row-marginless {

margin-bottom: 			5px;

}

.col, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-6, .col-sm-8, .col-sm-10 {

display: 				inline-block;

vertical-align: 		top;

}

.alert-danger a {

color:                  #a94442;

}

.alert-danger a:hover {

text-decoration:        underline;

}

.form-group {
    

}

.form-control {

}

.padding-left-0 {

padding-left:           0;

}

.padding-right-0 {

padding-right:          0;

}

form label {

display:                block;

}

button:focus {

outline: 				0;

}

input:active,input:focus,button:active,button:focus {

-webkit-box-shadow: 	-2px 2px 2px 0px rgba(255,0,255,1);

-moz-box-shadow: 		-2px 2px 2px 0px rgba(255,0,255,1);

box-shadow: 			-2px 2px 2px 0px rgba(255,0,255,1);

}

.nav-item.active {

background-color: #0a88ff;

}

.navbar {

background-color: 		rgba(255,0,255,1);

padding: 				0;

overflow: 				hidden;

position: 				absolute;

text-align: 			center;

top: 					0;

left: 					0;

z-index: 				1;

width:                  100%;

}

.navbar ul {

list-style: 			none;

margin: 				0;

}

.navbar ul li {

display: 				inline-block;

}

.nav-tabs {

border: 				0;

margin-bottom: 			5px;

}

.nav-item .active {

-webkit-box-shadow:     -2px 2px 2px 0px rgb(255,0,255);

-moz-box-shadow:        -2px 2px 2px 0px rgb(255,0,255);

box-shadow:             -2px 2px 2px 0px rgb(255,0,255);

}

.nav-pills .nav-link:hover {

/*background-color:     	magenta;*/

}

.nav-pills .nav-link.active {

background-color: transparent;

-webkit-box-shadow: 	-2px 2px 2px 0px rgba(255,0,255,1);

-moz-box-shadow: 		-2px 2px 2px 0px rgba(255,0,255,1);

box-shadow: 			-2px 2px 2px 0px rgba(255,0,255,1);

}

.centered {

width: 					100%;

display:                block;

text-align:             center;

}

.block {

display: 				block;

clear: 					both;

width: 					100%;

margin-bottom: 			25px;

}


/*
alternate buddy list
.user-list {

    width: 100%;

        max-height: 200px;

}

.user-buddy-detail {

text-align: left;

}

.user-away {

    float: left;
}

.user-online {


    float: left;
}
*/