* {

padding:                0;

margin:                 0;

text-decoration:        none;

background:             inherit;

-webkit-box-sizing:     border-box;

-moz-box-sizing:        border-box;

box-sizing:             border-box;

outline:                none;

font-size:              12px;

}

body {

padding:                5px;

background-color:       #000;

color:                  #fff;

width:                  100%;

overflow:               hidden;

}

html, body {

height:                 100%;

display:                flex;

flex-direction:         column;

}

body > * {

flex-shrink:            0;

}

body::-webkit-scrollbar {

width:                  1em;

}
 
body::-webkit-scrollbar-track {

-webkit-box-shadow:     inset 0 0 6px rgba(0,0,0,0.3);

}
 
body::-webkit-scrollbar-thumb {

background-color:       #232222;

outline: 1px solid      #000;

}

pre {

margin:                 0;

padding:                0;

border:                 0 !important;

font-size:              6px;

overflow-x:             hidden;

color:                  #fff;

}

h1 {

font-size:              14px;

}

.pink {

font-size: 				inherit;

color:                  magenta;

animation:              pink-color 2s infinite;

-webkit-animation:      pink-color 2s infinite;

}

@-webkit-keyframes pink-color {

0%                      { color: magenta; }

40%                     { color: deeppink; }

80%                     { color: #ff78d4; }

100%                    { color: #e8acff; }

}

@keyframes pink-color {

0%                      { color: magenta; }

40%                     { color: deeppink; }

80%                     { color: #ff78d4; }

100%                    { color: #e8acff; }

}

.blue {

font-size: 				inherit;

color:                  dodgerblue;

animation:              blue-color 2s infinite;

-webkit-animation:      blue-color 2s infinite;

}

@-webkit-keyframes blue-color {

0%                      { color: dodgerblue; }

40%                     { color: #007eff}

80%                     { color: #0a88ff; }

100%                    { color: #18ccff; }

}

@keyframes blue-color {

0%                      { color: dodgerblue; }

40%                     { color: #007eff}

80%                     { color: #0a88ff; }

100%                    { color: #18ccff; }

}


@keyframes content {

0%                      { transform: translateX(-100%); }

100%                    { transform: translateX(0); }

}


a {

color:                  #FFF;    

}

a:hover {

color:                  inherit;

}

a, a:active, a:focus, a:hover, a:visited {

text-decoration:        none;

}

.header-content {

margin-bottom:      	0;

}

.description-content {

padding-top:            10px;

padding-bottom:         10px;

display:                block;

clear:                  both;

}

.navigation-content {

min-height:          	40px;

flex-grow: 				0 !important;

}

.form-content {

}

.footer-content {

position:               absolute;

bottom:                 0;

}

.footer-content .description {

text-align:             center;

}

.content {

padding-top: 			10px;

padding-bottom: 		10px;

background: 			#292b2c;

-webkit-box-shadow:     -5px 5px 5px 0px rgba(31,16,31,1);

-moz-box-shadow:        -5px 5px 5px 0px rgba(31,16,31,1);

box-shadow:             -5px 5px 5px 0px rgba(31,16,31,1);

/*
transform: rotateX(180deg); 

transform-style: preserve-3d;
  transition-delay: 2s;
*/

}

.column-content:nth-child(1) {

border-right:           1px solid #232222;

}

.content-pane {

padding:                10px;

display:                inline-block;

border-radius:          0 .25rem .25rem .25rem;

background-color:       #232222;

}

.service-registry {


}

.feed {


}

.feed>.scrollable {

}

.feed-item {

border-bottom:          1px solid #403839;

padding:                10px;

max-height:             300px;

}

.clear-row {

margin:                 0;

display:                flex;

flex-wrap:              wrap;

}

.container {

max-width:              1200px;

background-color:       #232222;

-webkit-box-shadow:     -5px 5px 5px 0px rgba(31,16,31,1);

-moz-box-shadow:        -5px 5px 5px 0px rgba(31,16,31,1);

box-shadow:             -5px 5px 5px 0px rgba(31,16,31,1);

flex-grow:              1;

overflow: 				hidden;

}

.column-content .column-content {

width:              	100%;

}

.user-list-toggle {

z-index:                1;

margin-top:             50px;

padding-right:          10px;

text-align:             right;

float:                  right;

position:               fixed;

bottom:                 0;

right:                  0;

width:                  113px;

}

.user-list {

float:                  right;

position:               fixed;

overflow-y:             scroll;

align-items:            center;

bottom:                 0;

right:                  0;

width:                  113px;

height:                 100%;

padding:                5px;

}

.user-list::-webkit-scrollbar {

width:                  1em;

}
 
.user-list::-webkit-scrollbar-track {

-webkit-box-shadow:     inset 0 0 6px rgba(0,0,0,0.3);

}
 
.user-list::-webkit-scrollbar-thumb {

background-color:       #232222;

outline: 1px solid      #000;

}

.user-buddy-detail {

display:                block;

text-align:             right;

}

.user-buddy-detail:hover {

background-color:       #fa29fc;

cursor: 				default;

}

.user-buddy-online, .user-buddy-away {

display:                inline-block;

vertical-align:         top;

white-space:            nowrap;

text-overflow:          ellipsis;

overflow:               hidden;

height:                 20px;

line-height:            20px;

max-width:              78px;

}

.user-buddy-online:hover, .user-buddy-away:hover {

color:                  #fff;

}

.user-buddy-online {



}

.user-buddy-away {

color:                  grey;

}

.user-online {

margin-top:             5px;

margin-left:            2px;

float:                  right;

width:                  10px;

height:                 10px;

background-color:       #07bd07;

border-radius:          50%;

content:                ".";

display:                inline-block;

}

.user-away {

margin-top:             5px;

margin-left:            2px;

float:                  right;

width:                  10px;

height:                 10px;

background-color:       orange;

border-radius:          50%;

content:                ".";

display:                inline-block;

}

.row {

margin: 				0;

margin-bottom:          25px;

padding-left:           10px;

clear: 					both;

width: 					100%;

}

.row-marginless {

margin-bottom: 			5px;

}

.col, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-6, .col-sm-8, .col-sm-10 {

display: 				inline-block;

vertical-align: 		top;

}

.alert-danger a {

color:                  #a94442;

}

.alert-danger a:hover {

text-decoration:        underline;

}

.form-group {
    

}

.form-control {

}

.padding-left-0 {

padding-left:           0;

}

.padding-right-0 {

padding-right:          0;

}

form label {

display:                block;

}

button:focus {

outline: 				0;

}

.navbar {

width:                  100%;

}

.navbar-toggler {

position:               static;

border:                 1px solid #232222;

}

.nav-tabs .nav-item {

margin-bottom: 			inherit;

}

.btn-primary {

border-color:           transparent;

}

.btn-primary.focus, .btn-primary:focus {

color:                  #fff;

border-color:           transparent;

}

.centered {

width: 					100%;

display:                block;

text-align:             center;

}

.block {

display: 				block;

clear: 					both;

width: 					100%;

margin-bottom: 			25px;

}


/*
alternate buddy list
.user-list {

    width: 100%;

        max-height: 200px;

}

.user-buddy-detail {

text-align: left;

}

.user-away {

    float: left;
}

.user-online {


    float: left;
}
*/