<div class="user_list">

    <strong class="block">Users</strong>

    {% if BUDDIES is not empty %}

      {% for BUDDY in BUDDIES %}

        <div class="buddy block">{{ BUDDY.uname }} {{ BUDDY.user_data_status }}</div>

      {% endfor %}

    {% endif %}

</div>