{% if flash.getMessage( 'info' ) %}

<div class="alert alert-info">

{{ flash.getFirstMessage( 'info' ) | raw }}

</div>

{% endif %}


{% if flash.getMessage( 'error' ) %}

<div class="alert alert-danger">

{{ flash.getMessage( 'error' ) | first | raw }}

</div>

{% endif %}